body {
    background-color: #000;
}
.container h2 {
    color: #fff;
    text-align: center;
}
.calculator {
    width: 350px;
    height: 500px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    top: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.operator, .number, .empty {
    width: 50px;
    height: 50px;
    font-weight: bold;
    margin: 10px;
    border-width: 0;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.operator, .number {
    cursor: pointer;
}
button:nth-child(4) {
    font-size: 18px;
    background-color: #20b2aa;
}
button:nth-child(8) {
    font-size: 18px;
    background-color: #ffa500;
}
button:nth-child(12) {
    font-size: 18px;
    background-color: #f08080;
}
button:nth-child(16) {
    font-size: 18px;
    background-color: #7d03e0;
}
button:nth-child(20) {
    font-size: 18px;
    background-color: #0477af;
}
#key {
    text-align: center;
}
#history {
    text-align: right;
    height: 10px;
    padding:5px 5px;
    margin: 0 20px;
    color: #808080;
    font-size: 15px;
}
#output {
    text-align: right;
    line-height: 18px;
    padding:20px 20px;
    margin: 0 20px;
    font-size: 20px;
}
#result {
    height: 100px;
}